{{#if (eq events.length 1)}}
    {{#each events as |event|}}
        <div class="events-calendar-event-with-description">
            {{events-calendar-event event=event responsive=responsive}}
            {{events-calendar-event-description event=event responsive=responsive}}
        </div>
    {{/each}}
{{else}}
    {{#each events as |event|}}
        <div class="events-calendar-event-without-description">
            {{events-calendar-event event=event responsive=responsive}}
        </div>
    {{/each}}
{{/if}}